<div class="page-header">
  <h1>
    Your Ratings
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>Restaurant</th>
        <th class="text-center">Your Rating</th>
        <th class="text-center">Comments</th>
        <th>Actions</th>
      </tr>
      <% @ratings.each do |rating| %>
        <% if current_user.id == rating.user_id %>
        <tr>

          <td>
            <a href="/restaurants/<%= rating.restaurant.id %>">

            <%= rating.restaurant.try(:name)%>
          </a>
          </td>

          <td>
                <!-- Show full hearts for rating -->
                <% rating.try(:rating).times do %>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <% end %>
                <!-- Show empty hearts to fill in the rest -->
                <% t=5-rating.try(:rating) %>
                <% t.times do %>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <% end %>
          </td>

          <td><%= rating.try(:comments) %></td>

          <td>
            <a href="/ratings/<%= rating.id %>/edit" class="btn btn-warning">Edit Rating/Comment</a>
            <a href="/delete_rating/<%= rating.id %>" class="btn btn-danger" rel="nofollow">Remove Rating</a>
          </td>

        </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
