<div class="page-header">
  <h1>
    Ratings
    <a href="/ratings/new" class="btn btn-lg btn-success">New Rating</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>Restaurant</th>
        <th class="text-center">Your Rating</th>
        <th class="text-center">Comments</th>
        <th>Actions</th>
      </tr>
      <% @ratings.each do |rating| %>
        <% if current_user.id == rating.user_id %>
        <tr>

          <td><%= rating.restaurant.try(:name)%></td>
          <td class="text-center"><%= rating.try(:rating) %></td>
          <td><%= rating.try(:comments) %></td>
          <td>
            <a href="/ratings/<%= rating.id %>/edit" class="btn btn-warning">Edit Rating/Comment</a>
            <a href="/delete_rating/<%= rating.id %>" class="btn btn-danger" rel="nofollow">Remove Rating</a>
          </td>
        </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
