<div class="page-header">
  <h1>
    Restaurants

  </h1>
</div>


<div class="row row-horizon">
  <% @restaurants.each do |restaurant| %>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5> <a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a></h5>
      </div>
      <div class="panel-body">
        <% if restaurant.ratings.pluck(:user_id).include?(current_user.id) %>
        <div>
          <a href="/ratings/<%= restaurant.ratings.where({:user_id => current_user.id}).pluck(:id)[0] %>/edit">
          Your Rating: <%= restaurant.ratings.where({:user_id => current_user.id}).pluck(:rating)[0]%>
          </a>
        </div>
        <% else %>
        <div>
          <form action="/create_rating" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <!-- Label and input for user_id -->
            <input type="hidden"  name="user_id" value="<%= current_user.id%>">
            <input type="hidden"  name="restaurant_id" value="<%= restaurant.id%>">
            <input type="text" id="rating" name="rating" placeholder="Rate from 1-5" class="form-control">
            <input type="hidden"  name="comments" value="">
            <!-- Label and input for comments -->
            <button class="btn btn-success btn-sm">
              Add
            </button>
          </div>
          <% end %>
          <hr>
          <div>
            <% if restaurant.ratings.count > 0 %>
              Tastefind Average: <%= restaurant.ratings.average('rating').round(1) %>
            <% else %>
              No ratings yet!
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <hr>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
        <a href="/restaurants/new" class="btn btn-md btn-success">Add Restaurant</a>
      </div>
      </div>
    </div>
  </div>
